.footer {
    display: flex;
    justify-content: space-between;
    background-color: #d9dee3;
    height: 50px;
}

.github {
    margin-left: 82px;
    //
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: left center;

    color: $primary;
    transition: 0.3s;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 82px;
    background-image: url('./assets/svg/rs_school.svg');
    background-size: contain;
}
.github-text {
    font-size: 31px;

    color: $primary;

    transition: 0.3s;
    margin-left: 143px;
    &:hover {
        color: $primary-lighters;
    }
}

.school {
    display: flex;

    align-items: center;
    text-decoration: none;
    margin-right: 82px;
    background-image: url('./assets/svg/github.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.school-year {
    font-size: 31px;
    letter-spacing: 5px;
    color: $primary;
    transition: 0.3s;
    margin-right: 56px;
    &:hover {
        color: $primary-lighters;
    }
}
